@font-face 
{
    font-family: Paintball;
    src: url(paintball_web.woff);
}

@font-face 
{
    font-family: Ikamodoki;
    src: url(ikamodoki.woff);
}

body
{
    background-color: #333333;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin: 0; padding: 8px;
    min-width: 304px;
    -webkit-text-size-adjust: 100%;
}

a
{
    color: #99ff33;
}

.squidHeader
{
    color: #99ff33;
    font-family: Paintball,Ikamodoki,'Gill Sans',sans-serif;
    font-size: 40px;
    text-align: center;
}

.squidHeader a
{
    color: #99ff33;
    text-decoration: none;
}

.squidMain
{
    min-height: 400px;
}

.squidMapColumns
{
    overflow: hidden;
}

.squidMapColumns .squidLeftColumn, .squidMapColumns .squidRightColumn
{
    width: 336px;
    overflow: hidden;
}

.squidLeftColumn
{
    float: left;
}

.squidRightColumn
{
    float: right;
}

.squidMapsHeading
{
    text-align: center;
    margin-bottom: 4px;
    font-family: Paintball,Ikamodoki,'Gill Sans',sans-serif;
    font-size: 20px;
    white-space: nowrap;
}

.squidHeadingTurf
{
    color: #dd66ff;
}

.squidHeadingRanked
{
    color: #ff9933;
}

.squidMapTitle
{
    font-size: 16px;
    text-align: center;
    margin-top: 4px;
}

.squidMapItem
{
    background-color: #dddddd;
    color: black;
    border-radius: 16px;
    padding: 8px;
    margin: 8px 0;
}

.squidMapPicture img
{
    font-size: 0;
    width: 100%;
}

.squidMapColumns .squidMainColumn
{
    margin: 0 344px;
    padding-top: 228px;
    text-align: center;
}

.squidMapColumns .squidMainAbove
{
    position: absolute;
    left: 352px; right: 352px;
}

.squidChangeTimes
{
    overflow: hidden;
    list-style-type: none;
    width: 384px;
    margin: 4px auto;
    padding: 0;
    font-size: 24px;
    white-space: nowrap;
}

.squidChangeTimes li
{
    float: left;
    margin: 0; padding: 4px;
    width: calc(33.33% - 8px);
}

.squidStatus
{
    margin-bottom: 16px;
}

.squidStatusTimeLeft
{
    font-size: 36px;
    margin: 8px 0;
}

.squidStatusWaiting, .squidStatusFresh
{
    width: 100%;
    height: 200px;
    display: table;
}

.squidStatusWaiting .inner, .squidStatusFresh .inner
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.squidNav
{
    font-size: 16px;
    text-align: center;
    margin: 8px 0;
    line-height: 24px;
}

.squidNav a
{
    color: #99ff33;
    text-decoration: none;
}

.squidNav a:hover
{
    text-decoration: underline;
}

.squidNav ul
{
    list-style-type: none;
    margin: 0; padding: 0;
}

.squidNav li
{
    display: inline;
    margin: 0;
    padding: 0 8px;
    white-space: nowrap;
}

.squidDisclaimer
{
    font-size: 12px;
    text-align: center;
    margin: 8px 0 0 0;
}

@media not all and (min-width: 1088px)
{
    .squidChangeTimes
    {
        width: auto;
        margin: 4px 0;
    }
}

@media not all and (min-width: 1040px)
{
    .squidMapColumns .squidLeftColumn, .squidMapColumns .squidRightColumn
    {
        width: 304px;
    }

    .squidMapColumns .squidMainColumn
    {
        margin: 0 312px;
    }

    .squidMapColumns .squidMainAbove
    {
        left: 320px; right: 320px;
    }

    .squidChangeTimes
    {
        font-size: 20px;
    }
}

@media not all and (min-width: 944px)
{
    .squidMapColumns .squidMainAbove
    {
        position: static;
        margin: 8px 0;
    }

    .squidStatusWaiting, .squidStatusFresh
    {
        height: 80px;
    }

    .squidMapColumns .squidLeftColumn, .squidMapColumns .squidRightColumn
    {
        width: calc(50% - 8px);
        margin: 0;
    }

    .squidMapItem
    {
        width: 336px;
        margin: 8px auto;
    }

    .squidMapColumns .squidMainColumn
    {
        margin: 8px 0;
        clear: both;
        padding-top: 16px;
    }

    .squidChangeTimes
    {
        width: 384px;
        margin: 4px auto;
        font-size: 24px;
    }
}

@media not all and (min-width: 736px)
{
    .squidMapItem
    {
        width: auto;
    }
}

@media not all and (min-width: 568px)
{
    .squidMapColumns .squidLeftColumn, .squidMapColumns .squidRightColumn
    {
        float: none;
        width: auto;
        margin-bottom: 16px;
    }

    .squidMapItem
    {
        width: 336px;
    }

    .squidMapColumns .squidMainColumn
    {
        padding-top: 0;
    }
}

@media not all and (min-width: 400px)
{
    .squidChangeTimes
    {
        width: auto;
        margin: 4px 0;
    }
}

@media not all and (min-width: 368px)
{
    .squidMapItem
    {
        width: auto;
    }
}

@media not all and (min-width: 352px)
{
    .squidChangeTimes
    {
        font-size: 20px;
    }
}
