<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="squidTrackerConnectionString" connectionString="Server=10.211.55.2;Database=squidtracker;User ID=squid;Password=kid;Pooling=true;charset=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>